body {
    background-image: url(Immagini/bkg.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Kameron', serif;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header a:hover {
    color: rgb(84, 108, 216);
    text-decoration: none;
}


header p {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

header nav ul {
    margin:0;
    padding: 30px;
    list-style-type: none;
    display: flex;
    gap: 625px;
}

main h1{
    padding-top: 50px;
    padding-bottom: 50px;
}

main h2{
    float: right;
    padding-right: 1100px;
    padding-top: 25px;
}

main p{
    padding-right: 700px;
}

footer{
    background-color: black;
    display: inline;
    text-align: center;   
}

main div.giappone {
    padding-top: 50px;
    padding-bottom: 50px;
}

main div.italia {
    padding-top: 50px;
    padding-bottom: 50px;
}


main div.stati {
    padding-top: 50px;
    padding-bottom: 50px;
}

